.weatherSelectedPart {
    display: flex;
    border: 2px solid var(--td-section);
    border-radius: 25px;
    padding: 20px 25px;
    justify-content: center;
    width: 460px;
    
}

.weatherHours {
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 600px) { 
    .weatherSelectedPart {
        width: 350px;
    }
}

